/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
  :root {
    /* Шрифты */
    --main-font: 'Inter-Variable', sans-serif;
    --accent-font: 'Press Start 2P', fantasy;
    
    /* Веса шрифтов */
    --text-weight: 400;
    --title-weight: 700;
    
    /* Цвета */
    --bg-color: #ffffff;
    --accent-color: #000000;
    --button-text-color: #ffffff;
    --label-bg: #ffffff;
    --modal-bg: #ffffff;
    
    /* Градиент фона */
    --bg-gradient: 
      repeating-linear-gradient(90deg, #d3d3d3 0 2px, transparent 2px 4px),
      repeating-linear-gradient(180deg, #d3d3d3 0 2px, transparent 2px 4px),
      linear-gradient(180deg, #e7e7e7 0.01%, #1a1a1a 100%);
    
    /* ⚡ ТОЧНЫЕ РАЗМЕРЫ ИЗ FIGMA */
    --button-width: 130px;
    --button-height: 38px;
    --cards-gap: 50px;

    
    /* ⚡ РЕЗИНОВЫЕ РАЗМЕРЫ */
    --content-width: clamp(23.6875rem, 16.5352rem + 30.5164vw, 44rem);
    --card-width: clamp(23.438rem, 16.285rem + 30.516vw, 43.75rem);
    --header-height: clamp(3.75rem + 0.1875rem, 14.6041rem + 13.9932vw + 0.1875rem, 23rem + 0.1875rem);
    
    /* ⚡ ТОЧНЫЕ ШРИФТЫ */
    --title-main-size: clamp(2.5rem, 1.5rem + 4.27vw, 4.063rem);
    --title-sub-size: clamp(0.875rem, 0.5rem + 1.6vw, 1.438rem);
    --card-title-size: clamp(1rem, 0.9rem + 0.43vw, 1.125rem);
    --card-text-size: clamp(1rem, 0.95rem + 0.21vw, 1.125rem);
    --card-border: 2px;
    
    /* Тени */
    --shadow: 2px 2px 0 var(--accent-color);
    --shadow-hover: 4px 4px 0 var(--accent-color);
  
    /* Анимация */
    --contour-color: #000000;
    --animation-fill-color: #ff0000;
  }



